.widget-wrapper {
  display: flex;
  align-items: flex-start;
  width: auto;
  min-width: 255px;
  height: auto;
  min-height: 137px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1rem;
  &.col {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
}
