.ticket-detail--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 825px;
  margin: auto;
}

.ticket-detail-comments--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  font-style: normal;
  padding: 2rem;
  background-color: #ffff;
  margin: 1rem 0;
  width: 100%;
}

.ticket-detail-comments--header--title {
  display: flex;
  flex-direction: row;
  color: #3a4374;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01563rem;
  padding: 2rem;
}

.ticket-detail-comment--item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}

.comment-item--avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;

  & img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.8rem;
  }
}

.comment-item--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0 0.8rem;
}

.comment-item--content--header {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;

  .comment-item--content--header--name {
    color: #3a4374;
    font-weight: 700;
    letter-spacing: -0.01213rem;
  }
  .comment-item--content--header--handle {
    color: #647196;
    font-weight: 400;
  }
}
