$primary-purple: #ad1fea; // purple hue color
$primary-blue: #4661e6;
$secondary-blue: rgba(98, 188, 250);
$dark-text: rgba(55, 63, 104);
$default-gray: rgba(247, 248, 253);
$light-gray: rgba(242, 244, 255);
$dark-gray: rgba(100, 113, 150);
$purple-hue: rgba(58, 67, 116);
$primary-hue: rgba(244, 159, 133);
